
$left1 : 200;
$left2 : 80;
$right1 : 500;
$right2 : 620;


body {
    box-sizing: border-box;
    
    .wrapper {
        display: grid;
        grid-template-columns: 40% 20% 40%;
        align-items: center;
        width: 800px;
        height: 500px;
        margin: 100px auto;
        border: 1px solid yellow;
        position: relative;
        
        .left_block, .right_block {
            height: 100%;
            background-color: #ffffee;
        }
        .static_block {
            height: 100%;
            // width: 160px;
            // margin: 0 320px;
            background-color: #aaaaaa;
        }

            // height: 60%;
            // background-color: #ffffee;
            // display: flex;
            // justify-content: flex-start;
            
            .pos_left1 {
                position: absolute;
                left: 200px;
            }
            .pos_left2 {
                position: absolute;
                left: 80px;
            }
            .pos_right1 {
                position: absolute;
                left: 500px;
            }
            .pos_right2 {
                position: absolute;
                left: 620px;
            }
            
            .moved_item {
                height: 100%;
                width: 100px;
                position: absolute;
                top: 30px;
                
                .item {
                    height: 70%;
                    width: 100%;
                    margin-bottom: 15%;
                }
                .type1 {
                    background-color: #aaffaa;
                }
                .type2 {
                    background-color: #13ddf8;
                }

                .arrow {
                    height: 15%;
                    width: 100%;
                    background-color: #cccccc;
                }
                .toRight {
                    position: relative;
                    &::after {
                        display: block;
                        content: '\2192';
                        font-size: 30px;
                    }
                }
                .toLeft {
                    position: relative;
                    &::after {
                        display: block;
                        content: '\2190';
                        font-size: 30px;
                    }
                }
            }
        
    }
}


            